<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<aside id="SN" th:fragment="leftSide">
<h3>Share your experience with these social medias</h3>
<ol>
    <li>
	<a href="https://sv-se.facebook.com/">
            Facebook
	</a>
    </li>
    <li>
	<a href="https://www.youtube.com/">
            YouTube
	</a>
    </li>
    <li>
	<a href="https://twitter.com/?lang=sv">
            Twitter
	</a>
    </li>
    <li>
	<a href="https://www.instagram.com/">
            Instagram
	</a>
    </li>
    <li>
	<a href="https://www.tumblr.com/">
            Tumblr
	</a>
    </li>
    <li>
	<a href="https://vimeo.com/">
            Vimeo
	</a>
    </li>
    <li>
	<a href="https://se.linkedin.com/">
            Linkedln
	</a>
    </li>
</ol>
</aside>
</body>
</html>